* {
    box-sizing: border-box;
}

body {
    min-width: 1024px;
    min-height: 100vh;
    display: flex;
    // overflow: hidden;
    /* justify-content: center; */
    // align-items: center;
    margin: 0;
    // overflow: hidden;
    position: relative;
}

$inputs-width: 240px;

.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .inputs {
        // position: fixed;
        min-width: 240px;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 40px;
        margin-bottom: 50px;
        label {
            input {
                width: 100%;
            }
        }
    }
    
    .tables {
        // margin-left: $inputs-width;
        overflow: auto;
    }
    
    .main {
        border-spacing: 0px;
        width: 100%;
        max-width: 100vw;
        th {
            border-collapse: collapse;
            border: 2px solid red;
            background-color: green;
            position: sticky;
            left: 0;
            color: white;
        }
        td {
            border: 1px solid red;
        }
        thead {
            // opacity: 0;
            th {
                z-index: 2;
                top: 0;
            }
        }
        tbody {
            overflow: scroll;
        }
        th, td {
            padding: 2px;
            min-width: 30px;
        }
    }
}

